@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');
  nav {
    margin: 0 auto;
    max-width: 1216px;
    padding: 1rem 7rem 0 7rem;
    display: flex;
    align-items: center;
  }
body {
font-family: "Noto Sans", sans-serif;
  margin: 0;
  background: linear-gradient(147.52deg, #F9FAFB 8.89%, #D2D6DB 100.48%);
  max-height: 7759px;
  min-height: 100vh;
  height: 100%;
  font-size: 16px;
}
header {
  background-color: transparent;
  max-width: 1440px;
  margin: 0 auto;
  height: 5.25rem;

}
.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.logo svg {
  width: 28px;
  height: 21px;
}
.logo-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.06em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.nav-links {
  width: 100%;
  max-width: 40.625rem;
  height: 100%;
  max-height: 1.5rem;
  list-style: none;
  display: flex;
  margin: 1.4rem 6rem;
  gap: 2.25rem;
  border-radius: 5px;
}
.nav-links a {
  text-decoration: none;
  color: #525252;
  font-size: 16px;
  transition: color 0.3s ease;
  border-radius: 5px;
  padding: 0 2px;
}
.nav-links a:focus {
  box-shadow: 0 0 0 4px #444CE71F;
}
.nav-links a:hover {
  color: #171717;
}
.nav-buttons {
  display: flex;
  gap: 16px;
}
.btn-nav {
  font-size: 16px;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-normal-button {
  background-color: #fff;
  border: 0.5px solid rgba(229, 229, 229, 1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  color: #171717;
  width: 125px;
  height: 44px;
}
.secondary-normal-button:hover {
  background-color: #FAFAFA;
}
.secondary-normal-button:focus {
  box-shadow: 0 0 0 4px #444CE71F;
  background-color: #FAFAFA;
}
.primary-normal-button {
  background: rgba(67, 56, 202, 1);
  width: 121px;
  height: 44px;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
.primary-normal-button:focus {
  background-color: #3730A3;
  box-shadow: 0 0 0 4px #444CE71F;
}
.primary-normal-button:hover {
  background-color: #3730A3;
}
/* Update */